<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <#include "../nav/nav.ftlh">
    <div class="p-5 text-center bg-light">
        <#if user.id ? has_content>
            <h1 class="mb-3">${user.firstName + ' ' + user.lastName}</h1>
        <#else>
            <h1 class="mb-3">Create a new user</h1>
        </#if>

        <form method="POST" action="/ui/users" modelAttribute="userDto">
            <#--      Id      -->
            <input type="hidden" id="id" name="id" value="${(user.id)!}">

            <#--      First Name      -->
            <div class="form-group">
                <label for="exampleInputEmail1">First name</label>
                <input type="text" class="form-control" id="firstName" name="firstName"
                       placeholder="Enter your first name" value="${(user.firstName)!}">
            </div>

            <#--      Last Name      -->
            <div class="form-group">
                <label for="exampleInputEmail1">Last name</label>
                <input type="text" class="form-control" id="lastName" name="lastName"
                       placeholder="Enter your last name" value="${(user.lastName)!}">
            </div>

            <#--      Nickname      -->
            <div class="form-group">
                <label for="exampleInputEmail1">Nickname</label>
                <input type="text" class="form-control" id="nickname" name="nickname"
                       placeholder="Enter nickname" value="${(user.nickname)!}">
            </div>

            <#--      Email      -->
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                       placeholder="Enter email" value="${(user.email)!}">
                <small id="emailHelp" class="form-text text-muted">
                    We'll never share your email with anyone else.
                </small>
            </div>

            <#--      Phone      -->
            <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone"
                       value="${(user.phone)!}">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>